.addContact-buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.contactCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--tertiary-color);
}
